{% extends 'base.html' %}
{% block page_content %}

    <div class="form-wrapper">
    <form action="{% url 'change password' %}" method="post" class="form">
    <h3>Change your password</h3>
    {% for field in form %}
        <div class="form-line">
            {{ field.label_tag }}
            {{ field }}</div>
        {% endfor %}
        <div class="form-line">
            <button class="form-btn">Change password</button>
        </div>

        {% csrf_token %}
    </form>
    </div>

{% endblock %}