{% extends 'base.html' %}
{% load static %}
{% block page_content %}

    <script>
        window.URLS = {
            history: '{% url "transactions history api" %}'
        }
    </script>

    {#    Transactions list using ServerSideRendering#}
    {#    <ul>#}
    {#        {% if transaction_history %}#}
    {#            {% for transaction in transaction_history %}#}
    {#                <li>{{ transaction.date_added }} |#}
    {#                    {% if transaction.ticker %}{{ transaction.ticker }}{% else %}CASH{% endif %}#}
    {#                    | {{ transaction.operation_type }} | {{ transaction.count }} | {{ transaction.price }}</li>#}
    {#            {% endfor %}#}
    {#        {% else %}#}
    {#            <li>No transactions yet</li>#}
    {#        {% endif %}#}
    {#    </ul>#}

    <div class="history">
        <div class="history-header">
            <div class="history-row">
                <div class="history-cell">Date</div>
                <div class="history-cell">Ticker</div>
                <div class="history-cell">Operation</div>
                <div class="history-cell">Count</div>
                <div class="history-cell">Amount</div>
            </div>
        </div>
        <div id="api-history">

        </div>
    </div>

    <div id="pagination-links"></div>

    <script src="{% static 'js/transactions-history.js' %}"></script>

{% endblock %}