header nav ul {display: flex; list-style: none; gap: 3rem;}
.portfolio {display: flex; flex-direction: column;}
.portfolio-header,
.portfolio-row {display: flex; list-style: none; border: 1px solid black;}
.portfolio-cell {width: 150px; text-align: center;}