{% extends 'base.html' %}
{% load static %}
{% block page_content %}

    <script>
        window.URLS = {
            portfolio: '{% url 'details_portfolio_api' pk=portfolio.pk %}',
        }
    </script>

    {#    <div class="portfolio accordion">#}
    {#        <div class="portfolio-header">#}
    {#            <div class="portfolio-cell">Ticker</div>#}
    {#            <div class="portfolio-cell">shares count</div>#}
    {#            <div class="portfolio-cell">price per share</div>#}
    {#            <div class="portfolio-cell">total invested</div>#}
    {#            <div class="portfolio-cell">current price</div>#}
    {#            <div class="portfolio-cell">gain / loss</div>#}
    {#        </div>#}
    {##}
    {#        {% for position in positions %}#}
    {#            <div class="portfolio-row {% if position.positionhistory_set.all|length > 1 %}accordion-toggle{% endif %}">#}
    {#                <div class="portfolio-cell">{{ position.ticker }}</div>#}
    {#                <div class="portfolio-cell">{{ position.count }}</div>#}
    {#                <div class="portfolio-cell">{{ position.avg_price|floatformat:2 }}</div>#}
    {#                <div class="portfolio-cell">{{ position.price }}</div>#}
    {#                <div class="portfolio-cell">{{ position.current_price|floatformat:2 }}</div>#}
    {#                <div class="portfolio-cell">{{ position.change|floatformat:2 }}%</div>#}
    {#                <div class="portfolio-cell">#}
    {#                    <a href="{% url 'add_to_position' pk=position.pk %}">Add</a> /#}
    {#                    <a href="{% url 'sell_position' pk=position.pk %}">Sell</a>#}
    {#                </div>#}
    {#            </div>#}
    {#            {% if position.positionhistory_set.all|length > 1 %}#}
    {#                <div class="accordion-content">#}
    {#                    {% for history in position.positionhistory_set.all %}#}
    {#                        <div class="portfolio-row">#}
    {#                            <div class="portfolio-cell">{{ history.date_added }}</div>#}
    {#                            <div class="portfolio-cell">{% if history.count < 0 %}Sell {{ history.count }}{% else %}#}
    {#                                Buy#}
    {#                                {{ history.count }}{% endif %}</div>#}
    {#                            <div class="portfolio-cell">{{ history.price }}</div>#}
    {#                        </div>#}
    {#                    {% endfor %}#}
    {#                </div>#}
    {#            {% endif %}#}
    {#        {% endfor %}#}
    {##}
    {#        <div class="portfolio-row">#}
    {#            <div class="portfolio-cell">Cash:</div>#}
    {#            <div class="portfolio-cell"></div>#}
    {#            <div class="portfolio-cell"></div>#}
    {#            <div class="portfolio-cell">{{ portfolio.cash }}</div>#}
    {#        </div>#}
    {#    </div>#}
    {#    <br><br><br><br><br><br>#}
    {#####################################################}
    <h2 class="center">{{ portfolio.name }}</h2>

    {% if messages %}
        <div class="alert alert-warning">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}

    <div id="portfolio-container" class="portfolio accordion">
        <div class="portfolio-header">
            <div class="portfolio-cell">Ticker</div>
            <div class="portfolio-cell">shares count</div>
            <div class="portfolio-cell">price per share</div>
            <div class="portfolio-cell">total invested</div>
            <div class="portfolio-cell">current price</div>
            <div class="portfolio-cell">gain / loss</div>
        </div>
        <div id="loader">
            <div class="loader">
                <div class="justify-content-center jimu-primary-loading"></div>
            </div>
        </div>
    </div>
    <div class="portfolio-bottom">
        <a class="action action-delete" href="{% url 'delete_portfolio' pk=portfolio.pk %}">Delete portfolio</a>
        <a id="toggle-link" class="action action-cash">Cash operations</a>

    </div>
    <div id="cash-form" class="cash-form">
        <form id="deposit-withdraw-form" method="post" action="{% url 'deposit_withdraw' pk=portfolio.pk %}" class="form">
            {% csrf_token %}
            <div class="form-row">
{#                <label for="operation">Operation:</label>#}
                <select name="operation" id="operation">
                    <option value="deposit">Deposit</option>
                    <option value="withdraw">Withdraw</option>
                </select>
            </div>
            <div class="form-row">
{#                <label for="amount">Amount:</label>#}
                <input placeholder="Amount" type="number" step="0.01" name="amount" id="amount">
            </div>
            <div class="form-row">
                <button type="submit" class="form-btn">Submit</button>
            </div>
        </form>
    </div>

    <script src="{% static 'js/load-portfolio.js' %}"></script>
    <script>
        const toggleLink = document.getElementById('toggle-link');
        const cashForm = document.getElementById('cash-form');
        toggleLink.addEventListener("click", function () {
            cashForm.classList.toggle("visible");
        });
    </script>
    <script>
        // Use event delegation for accordion toggle
        $(document).on('click', '.accordion-toggle', function () {
            $(this).next().slideToggle('600');
            $(".accordion-content").not($(this).next()).slideUp('600');
            $(this).toggleClass('active').siblings().removeClass('active');
        });
    </script>
{% endblock %}