{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            {% if request.user.is_authenticated %}
                Hello, <a href="{% url 'profile details' pk=request.user.pk %}">{{ request.user.username }}</a>:

                <select onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
                    <option value="">Select Portfolio</option>
                    {% if request.user.portfolio_set.all %}
                        {% for portfolio in request.user.portfolio_set.all %}
                            <option value="{% url 'details_portfolio' pk=portfolio.id %}">{{ portfolio.name }}</option>
                        {% endfor %}
                    {% endif %}
                    <option></option>
                    <option value="{% url 'create_portfolio' %}">Create new portfolio</option>
                </select>

                <a href="{% url 'logout' %}">Logout</a>
            {% else %}
                <a href="{% url 'signup' %}">Register</a>
                <a href="{% url 'login' %}">Login</a>
            {% endif %}
        </ul>
    </nav>
</header>

{% block page_content %}
{% endblock %}

</body>
</html>