{% extends 'base.html' %}
{% block page_content %}
    <div class="search">
        <h1>Search in our {{ tickers_count }} stocks database</h1>
        <form action="{% url 'index' %}" method="get" class="form">
            {{ form }}
            <button class="form-btn">Search</button>
            {% csrf_token %}
        </form>
    </div>
    <ol>
        {% for ticker in search_result %}
            <li><a href="{% url 'ticker_details' symbol=ticker.symbol %}">{{ ticker.symbol }}</a> - {{ ticker.company_name }}</li>
        {% endfor %}
    </ol>

{% endblock %}