{% extends 'base.html' %}
{% block page_content %}

    <h1>{{ ticker.company_name }}: ${{ price|floatformat:2 }}</h1>
    <p>Company info goes here</p>
    {% if request.user.is_authenticated %}
        <label for="portfolio_list">Add to :</label>
        <select name="portfolio_id" id="portfolio_id">
            <option value="">Select Portfolio</option>
            {% for portfolio in request.user.portfolio_set.all %}
                <option value="{{ portfolio.pk }}">{{ portfolio.name }}</option>
            {% endfor %}
        </select>
        <a href="{% url 'create_position' pk=ticker.pk %}">Add position</a>
    {% else %}
        <a href="{% url 'login' %}">Login</a> or <a href="{% url 'signup' %}">Register</a> to add {{ ticker.symbol }} to
        your portfolio
    {% endif %}
{% endblock %}